* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://github.com/gcc015/gcc015.github.io/raw/master/imges/tree.jpg"); 
    background-size: 100%;
}

.item {
    width: 30%;
}

.showpic {
    width: 100%;
}